<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS}[%thread] %logger{36}[%line] - %msg %mdc %n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/disks/kycrm/workspace_new/crm-log/crm-syn-trade/crm-syn-trade.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				/disks/kycrm/workspace_new/crm-log/crm-syn-trade/crm-syn-trade.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!-- keep 1 days worth of history -->
			<MaxHistory>10</MaxHistory>	
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}[%line] - %msg %mdc %n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

    <logger name="druid.sql" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="com.kycrm" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="com.alibaba.dubbo" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration> 
