<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kycrm.member.dao.message.ISensitiveWordDao">
	<!-- 查询敏感词 -->
	<select id="findSensitives" resultType="java.lang.String">
		SELECT distinct content FROM crm_sensitive_word 
	</select>
</mapper>