<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kycrm.member.dao.IOldSmsBlackListDao">

	<resultMap type="com.kycrm.transferdata.entity.SmsBlackList"
		id="smsBlackList">
		<result column="ID" property="id" />
		<result column="NICK" property="nick" />
		<result column="PHONE" property="phone" />
		<result column="CREATEDATE" property="createdate" />
		<result column="ADD_SOURCE" property="addSource" />
		<result column="REMARKS" property="remarks" />
		<result column="CONTENT" property="content" />
		<result column="TYPE" property="type" />
		<result column="USERID" property="userId" />
		<result column="IS_DELETE" property="isDelete" />
	</resultMap>

	<sql id="table">CRM_SMS_BLACKLIST</sql>

	<select id="getSmsBlackListUser" resultType="String">
		SELECT
		USERID
		FROM
		<include refid="table" />
		GROUP BY
		USERID
	</select>

	<select id="getCount" parameterType="java.util.Map" resultType="long">
		SELECT
		COUNT(1)
		FROM
		<include refid="table" />
		WHERE
		USERID = #{userId}
		AND
		CREATEDATE &gt;= DATE_FORMAT(#{startDate}, '%Y-%m-%d %H:%i:%s')
		AND
		CREATEDATE &lt;= DATE_FORMAT(#{endDate}, '%Y-%m-%d %H:%i:%s')
	</select>

	<select id="getSmsBlackListByRange" parameterType="java.util.Map"
		resultMap="smsBlackList">
		SELECT
			*
		FROM
		<include refid="table" />
		WHERE
			USERID = #{userId}
		AND
			CREATEDATE &gt;= DATE_FORMAT(#{startDate}, '%Y-%m-%d %H:%i:%s')
		AND
			CREATEDATE &lt;= DATE_FORMAT(#{endDate}, '%Y-%m-%d %H:%i:%s')
		LIMIT
			#{start}, #{end}
	</select>
</mapper>