<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kycrm.syn.dao.message.IMsgTempTradeHistoryDao">
 	<resultMap type="com.kycrm.member.domain.entity.trade.MsgTempTradeHistory" id="msgTempTradeHistory">
 		<result column="id" property="id"/>
		<result column="uid" property="uid"/>
		<result column="msg_id" property="msgId"/>
		<result column="tid" property="tid"/>
		<result column="num_iid_str" property="numIidStr"/>
		<result column="buyer_nick" property="buyerNick"/>
		<result column="refund_flag" property="refundFlag"/>
		<result column="payment" property="payment"/>
		<result column="trade_from" property="tradeFrom"/>
		<result column="item_num" property="itemNum"/>
		<result column="created" property="created"/>
		<result column="end_time" property="endTime"/>
		<result column="modified_time" property="modifiedTime"/>
		<result column="pay_time" property="payTime"/>
		<result column="msg_created" property="msgCreated"/>
		<result column="trade_status" property="tradeStatus"/>
		<result column="receiver_address" property="receiverAddress"/>
		<result column="receiver_mobile" property="receiverMobile"/>
		<result column="receiver_name" property="receiverName"/>
 	</resultMap>
 	
 	<!-- 是否存在该用户的表 -->
 	<select id="tableIsExist" parameterType="java.lang.Long" resultType="java.lang.String">
 		show tables like 'crm_msg_temp_trade_history${uid}'
 	</select>
 	
 	<!-- 创建表 -->
 	<insert id="doCreateTable" parameterType="java.lang.Long">
 		CREATE TABLE `crm_msg_temp_trade_history${uid}` (
		  `id` bigint(20) NOT NULL AUTO_INCREMENT,
		  `msg_id` bigint(20) DEFAULT NULL,
		  `uid` bigint(20) DEFAULT NULL,
		  `tid` bigint(20) DEFAULT NULL,
		  `buyer_nick` varchar(1000) DEFAULT NULL,
		  `refund_flag` tinyint(5) DEFAULT NULL,
		  `payment` decimal(20,2) DEFAULT NULL,
		  `trade_from` varchar(255) DEFAULT NULL,
		  `item_num` int(10) DEFAULT NULL,
		  `created` datetime DEFAULT NULL,
		  `end_time` datetime DEFAULT NULL,
		  `modified_time` datetime DEFAULT NULL,
		  `pay_time` datetime DEFAULT NULL,
		  `msg_created` datetime DEFAULT NULL,
		  `trade_status` varchar(255) DEFAULT NULL,
		  `receiver_address` varchar(2000) DEFAULT NULL,
		  `receiver_mobile` varchar(255) DEFAULT NULL,
		  `receiver_name` varchar(1000) DEFAULT NULL,
		  `optlock` int(10) NOT NULL DEFAULT '0',
		  `num_iid_str` varchar(255) DEFAULT NULL,
		  PRIMARY KEY (`id`)
		) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8;
 	</insert>
 	<insert id="addMsgTempTradeHistoryTableIndex" parameterType="java.lang.Long">
 		ALTER TABLE
		`crm_msg_temp_trade_history${_parameter}`
		ADD INDEX index_msg_id 						(msg_id),
		ADD INDEX index_tid 								(tid),
		ADD KEY      index_buyer_nick				(buyer_nick(255)),
		ADD INDEX index_refund_flag				(refund_flag),
		ADD INDEX index_created						(created),
		ADD INDEX index_end_time					(end_time),
		ADD INDEX index_modified_time		(modified_time),
		ADD INDEX index_pay_time					(pay_time),
		ADD INDEX index_trade_status			(trade_status);
 	</insert>
 	
 	
 	<!-- 添加一条记录 -->
 	<insert id="saveMsgTempTradeHistory" parameterType="com.kycrm.member.domain.entity.trade.MsgTempTrade">
 		<selectKey resultType="java.lang.Long" keyProperty="id">
 			select LAST_INSERT_ID()
 		</selectKey>
 		insert into crm_msg_temp_trade_history${uid}(uid,msg_id,tid,num_iid_str,buyer_nick,refund_flag,payment,
 		trade_from,item_num,created,end_time,modified_time,pay_time,receiver_address,
 		receiver_mobile,receiver_name)
 		value(#{uid},#{msgId},#{tid},#{numIidStr},#{buyerNick},#{refundFlag},#{payment},#{tradeFrom},
 		#{itemNum},#{created},#{endTime},#{modifiedTime},#{payTime},#{receiverAddress},
 		#{receiverMobile},#{receiverName})
 	</insert>
 	
 	<!-- 添加多条记录 -->
 	<insert id="saveMsgTempTradeHistoryList" parameterType="com.kycrm.member.domain.entity.base.BaseListEntity">
 		insert into crm_msg_temp_trade_history${uid}(uid,msg_id,tid,num_iid_str,buyer_nick,refund_flag,payment,
 		trade_from,item_num,created,end_time,modified_time,pay_time,receiver_address,
 		receiver_mobile,receiver_name,msg_created,trade_status)
 		values
 		<foreach collection="entityList" item="trade" index="index" separator="," close=";">
 			(#{uid},#{trade.msgId},#{trade.tid},#{trade.numIidStr},#{trade.buyerNick},#{trade.refundFlag},
 			#{trade.payment},#{trade.tradeFrom},#{trade.itemNum},#{trade.created},#{trade.endTime},
 			#{trade.modifiedTime},#{trade.payTime},#{trade.receiverAddress},
	 		#{trade.receiverMobile},#{trade.receiverName},#{trade.msgCreated},#{trade.tradeStatus})
 		</foreach>
 	</insert>
 	
 	<!-- 根据订单来源和订单状态查询效果分析数据 -->
 	<select id="aggregateDataByStatus" parameterType="java.util.Map" resultMap="msgTempTradeHistory">
 		select count(tid),sum(payment),sum(item_num),count(distinct buyer_nick)
 		from crm_msg_temp_trade_history${uid}
 		<where>
 			uid = #{uid} and msg_id = #{msgId}
			<if test="tradeFrom != null and tradeFrom != ''">
				and trade_from = #{tradeFrom}
			</if>
			<if test="tradeStatus != null and tradeStatus != ''">
				and trade_status = #{tradeStatus}
			</if>
			<if test="bTime != null and eTime != null">
				and modified_time between #{bTime} and #{eTime}
			</if>
 		</where>
 	</select>
 	
 	<!-- 计算用户选择时间段内每天成交数据 -->
 	<select id="listPayData" parameterType="java.util.Map" resultType="java.util.Map">
 		select DAY(pay_time) payTime,count(tid),sum(payment),sum(item_num),count(distinct buyer_nick)
 		from crm_msg_temp_trade_history${uid}
 		<where>
 			msg_id = #{msgId}
			<if test="tradeFrom != null and tradeFrom != ''">
				and trade_from = #{tradeFrom}
			</if>
			<if test="tradeStatus != null and tradeStatus != ''">
				and trade_status = #{tradeStatus}
			</if>
			<if test="bTime != null and eTime != null">
				and pay_time between #{bTime} and #{eTime}
			</if>
 		</where>
 		order by payTime DESC
 		group by payTime
 	</select>
 	
 	<!-- 根据发送总记录id查询符合的临时订单 -->
 	<select id="listTempTradeByMsgId" parameterType="java.util.Map" resultMap="msgTempTradeHistory">
 		select tid,trade_from,trade_status,item_num,buyer_nick,refund_flag,payment,created,end_time,
 			   modified_time,pay_time
 		from crm_msg_temp_trade_history${uid}
 		where msg_id = #{msgId}
 	</select>
 	
 	<!-- 客户详情查询group_name, -->
 	<select id="listCustomerDetail" parameterType="java.util.Map" resultMap="msgTempTradeHistory">
 		select buyer_nick,receiver_name,receiver_mobile,sum(payment) payment,count(distinct tid) tid,
 			   sum(item_num) item_num,receiver_address
 		from crm_msg_temp_trade_history${uid}
 		<where>
 			msg_id = #{msgId}
 			<if test="tradeFrom != null and tradeFrom != ''">
 				and trade_from = #{tradeFrom}
 			</if>
 			<if test="tradeStatus != null and tradeStatus != ''">
 				and trade_status = #{tradeStatus}
 			</if>
 			<if test="bTime != null and eTime != null">
 				and created between #{bTime} and #{eTime}
 			</if>
 			<if test="buyerNick != null and buyerNick != ''">
 				and buyer_nick = #{buyerNick}
 			</if>
 			<if test="receiverMobile != null and receiverMobile != ''">
 				and receiver_mobile = #{receiverMobile}
 			</if>
 			<if test="numIid != null">
 				and num_iid_str like '%${numIid}%'
 			</if>
 		</where>
 		group by buyer_nick
 		<!-- order By #{orderBy} #{orderByType} -->
 		<if test="startRows != null and pageSize != null">
 			limit #{startRows},#{pageSize}
 		</if>
 	</select>
 	
 	<!-- 客户详情查询count -->
 	<select id="countCustomerDetail" parameterType="java.util.Map" resultType="java.lang.Integer">
 		select count(distinct buyer_nick)
 		from crm_msg_temp_trade_history${uid}
 		<where>
 			msg_id = #{msgId}
 			<if test="tradeFrom != null and tradeFrom != ''">
 				and trade_from = #{tradeFrom}
 			</if>
 			<if test="tradeStatus != null and tradeStatus != ''">
 				and trade_status = #{tradeStatus}
 			</if>
 			<if test="bTime != null and eTime != null">
 				and created between #{bTime} and #{eTime}
 			</if>
 			<if test="buyerNick != null and buyerNick != ''">
 				and buyer_nick = #{buyerNick}
 			</if>
 			<if test="receiverMobile != null and receiverMobile != ''">
 				and receiver_mobile = #{receiverMobile}
 			</if>
 			<if test="numIid != null">
 				and num_iid_str like '%${numIid}%'
 			</if>
 		</where>
 	</select>
 </mapper>